body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f8f9fa;
}

.title {
    margin: 20px;
    font-size: 2rem;
    border: 2px solid;
    background-color: rgb(157, 205, 45);
}

.container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.product-list, .cart {
    width: 45%;
    padding: 20px;
    background: rgb(22, 22, 22);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product {
    border: 1px solid #ddd;
    color: #f8f9fa;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
}

.product img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
}

.add-to-cart {
    background-color: #28a745;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: px;
}

.add-to-cart:hover {
    background-color: #218838;
    margin-bottom: 30px;
}

.cart {
    text-align: left;
    color: #f8f9fa;
    width: 70%;
    height: 70%;
    margin-top: px;
}

.cart ul {
    list-style: none;
    padding: 0;
}

.cart li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.cart img {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    margin-right: 10px;
}

.remove-btn {
    background: red;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
}
